<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>

    <div class="container">
        <h1>We will send a link to reset your password on your email</h1>
        <form action="/users/forgot-password" method="post">
            <div class="input">
                <input type="email" name="email" id="email" required>
                <label class="label-unactive" for="email">Email address</label>
            </div>
            <div>
                <button id="submit-btn" type="submit">Continue</button>
            </div>
        </form>
    </div>
    
    <script src="/js/signup.js"></script>
</body>
</html>