<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>

    <div class="container">
        <h1>Reset your password</h1>
        <form action="/users/reset-password/?token=<%= token %>" method="POST">
            <div class="input">
                <input type="password" name="password" id="password" required>
                <label class="label-unactive" for="password">Password</label>
            </div>
            <div class="input">
                <input type="password" name="confirm_password" id="confirm-password" required>
                <label class="label-unactive" for="confirm-password">Confirm Password</label>
            </div>
            <div>
                <button id="submit-btn" type="submit">Continue</button>
            </div>
        </form>
    </div>
    
    <script src="/js/signup.js"></script>
</body>
</html>